#attendee-list-container,
#attendee-list-table-container,
#attendee-list-segments,
#attendee-list-segments > .navigation,
#attendee-list-segments > .navigation > .navigation-list,
#attendee-list-table,
#attendee-list-table > .attendee-list,
#attendee-list-action-toolbar,
.react-bs-table-container,
.react-bs-table
  display: flex
  align-items: stretch

#attendee-list-container
  height: 100%
  flex-direction: column

  #attendee-list-table-container
    flex: 0 1 auto
    min-height: 0
    height: 100%

  .btn
    font-size: 13px

$segment-height: 40px
$segment-font-size: 16px
$segment-font-color: #B9B9B9
$segment-active-font-color: #444444
$segment-active-bg-color: #E1E1E1

#attendee-list-segments
  width: 100%
  flex: 0 0 auto
  background-color: #F1F1F1
  height: $segment-height
  box-shadow: inset 0 -0.5px 0 0 #CBCBCB, 1px 0 1px 0 rgba(0,0,0,0.3)

  .navigation
    flex: 0 1 auto
    width: 100%
    justify-content: flex-start

  .segment, .dropdown
    height: 100%

  .segment
    flex: 0 0 auto
    font-size: $segment-font-size
    color: $segment-font-color
    padding: 0 18px
    transition: all 0.5s
    background-color: transparent
    border: none
    border-radius: 0px
    display: flex
    align-items: center
    max-width: 200px
    box-shadow: none

    .btn
      font-size: $segment-font-size
      color: $segment-font-color
      background-color: transparent
      border: none
      border-radius: 0px

    .segment-btn
      flex: 0 1 auto
      overflow: hidden
      padding: 0 4px 0 0
      height: 100%
      &:focus
        outline: none

    .dropdown-toggle
      padding: 0
      box-shadow: none
      height: 100%

    &:hover
      background-color: $segment-active-bg-color

    &.active
      background-color: $segment-active-bg-color
      color: $segment-active-font-color
      opacity: 1.0

      .btn
        color: $segment-active-font-color
        opacity: 1.0

    &:focus
      outline: none

  .segment-title
    overflow: hidden
    text-overflow: ellipsis

  .more-segments
    display: flex
    align-items: center

    ul.dropdown-menu
      max-width: 300px
      max-height: 400px
      overflow-y: auto

      li > a
        display: flex

  .caret
    margin: 0 4px

  .segment-name
    display: flex

  .segment-title
    flex: 0 1 auto

  .attendees-count
    font-family: Lato
    font-style: italic
    font-weight: 300
    margin-left: 6px

#rename-segment-modal, #delete-segment-modal
  .modal-body
    font-size: 16px

    .segment-name
      font-family: Lato
      font-weight: bold
      font-style: italic

  .modal-footer
    button
      margin: 0 10px

#attendee-list-table
  width: 100%
  white-space: nowrap
  flex-direction: column
  overflow: hidden
  border-left: 1px solid #CBCBCBAA

  .loading
    margin: auto

  .attendee-list
    height: 100%
    width: 100%
    flex-direction: column
    flex: 0 1 auto
    min-height: 0

    .alertMsgs-enter
      opacity: .01

      &.alertMsgs-enter-active
        opacity: 1
        transition: opacity 300ms ease-in

    .alertMsgs-exit
      opacity: 1

      &.alertMsgs-exit-active
        opacity: .01
        transition: opacity 300ms ease-out

    .fade-alert
      margin: 20px 20px 0 !important
      padding: 10px 35px 10px 10px

    .empty-state
      margin: auto
      text-align: center

#attendee-list-action-toolbar
  flex: 0 0 auto
  min-height: 60px
  align-items: center
  flex-wrap: wrap
  padding: 0 10px
  background-color: #FAFAFA
  border-bottom: 1px solid #CBCBCBAA

  .menu-items
    padding: 8px 10px

    .btn
      padding: 6px 10px

    img
      margin: -8px 0 -6px

      &.action-import-export
        margin-right: 6px

    &:nth-last-child(3)
      margin-right: auto

  a.btn
    &:hover
      color: #000
      cursor: pointer

    &:focus
      color: #000

  .dropdown-submenu
    .dropdown-menu
      max-height: 300px
      overflow-y: auto

    &:hover
      .dropdown-menu
        display: block

  .dropdown-menu
    max-width: 400px

    li
      &.dropdown-header
        padding: 3px 20px 3px 16px
        overflow-x: hidden
        text-overflow: ellipsis

      a
        display: block
        padding: 3px 20px 3px 16px
        clear: both
        font-weight: normal
        line-height: 1.42857143
        color: #333
        white-space: nowrap

        img
          margin-right: 10px
          width: 20px

        i.fa
          padding: 0 2px
          margin-right: 10px
          font-size: 20px
          color: #b0b0b0
          width: 20px

        &:hover, &:focus
          color: #262626
          text-decoration: none
          background-color: #f5f5f5

  .attendee-list-more-dropdown
    img
      width: auto !important

#bulk-update-modal
  .modal-dialog
    width: 700px

  .bulk-update-step
    display: flex
    align-items: center

    .bulk-update-step-description
      display: flex
      flex-direction: column
      padding: 16px

      .step-title
        margin-bottom: 16px

svg
  circle
    stroke: #cf2f2f !important

.react-bs-table-container
  padding: 20px
  flex-direction: column
  flex: 1 1 auto
  min-height: 0
  height: 100%

  .react-bs-table
    flex-direction: column
    border: 1px solid #F0F0F0

  .react-bs-container-header
    table
      thead
        th
          .header
            display: inline-flex
            align-items: center
            max-width: 90%

            .icon
              flex: 0 0 auto
              margin-right: 10px

            .name
              flex: 1 1 auto
              line-height: 28px
              max-height: 28px
              overflow: hidden
              text-overflow: ellipsis
              white-space: nowrap

  .react-bs-container-body
    table
      tr
        transition: all 0.5s
        input[type='checkbox'],
        ul.actions i
          display: none

        &:hover
          input[type='checkbox'],
          ul.actions i
            display: inline-block

        &.selected-attendees
          background-color: #f5f5f5
          input[type='checkbox']
            display: inline-block

        td
          &:focus
            outline: none

        &:last-child
          td
            border-bottom: 1px solid #ddd

ul.actions
  white-space: nowrap
  margin: 0
  padding: 0
  float: right
  min-height: 26px
  li
    display: inline

    &:last-child
      border: 0 none

    a
      color: #cf2f2f
      font-size: 16px
      cursor: pointer

      &.grey
        color: #9e9e9e

        &:hover
          color: #757575

      span
        font-size: 13px
        opacity: 0.6
        transition: opacity .1s linear

        &:hover
          opacity: 1

        &.disabled
          cursor: default
          opacity: 0.2

          &:hover
            opacity: 0.2

        i
          font-size: 20px

.react-bs-table-pagination
  .row
    margin: 0px !important

    .col-lg-6
      padding-left: 0px
      padding-right: 0px

    .pagination
      margin: 0px !important

  .dropup.show
    display: inline !important

@media (max-height: 830px)
  #attendee-list-action-toolbar
    .remove-from
      .dropdown-submenu
        .dropdown-menu
          top: initial
          bottom: 0

@media (max-height: 700px)
  #attendee-list-action-toolbar
    .add-to, .change-to
      .dropdown-submenu
        .dropdown-menu
          max-height: 200px

@media (min-width: 1100px) and (max-width: 1200px)
  #attendee-list-action-toolbar
    .dropdown-menu
      max-width: 300px

@media (max-width: 1100px)
  #attendee-list-action-toolbar
    .dropdown-menu
      max-width: 200px

@media (min-width: 1016px) and (max-width: 1085px)
  #attendee-list-action-toolbar
    .menu-items
      &:nth-last-child(4)
        margin-right: auto

@media (max-width: 1016px)
  #attendee-list-action-toolbar
    .menu-items
      &:nth-last-child(5)
        margin-right: auto
